<ion-header [translucent]="true" mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Mikaro's News By Header
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" mode="ios" class="ion-no-border">
    <ion-toolbar>
      <ion-title size="large">Mikaro's News</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-segment (ionChange)="segmentChanged($event)" [value]="selectedCategorie"  scrollable mode="md">
  <ion-segment-button  *ngFor="let item of categories" [value]="item">
      <ion-label class="ion-text-capitalize">{{item}}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <app-articles [articles]="articles"></app-articles>

  <!-- <ion-infinite-scroll threshold="25%" position="bottom" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando mas...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->


  <ion-infinite-scroll threshold="25%" position="bottom" (ionInfinite)="loadData()">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando mas...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
